.container-login {
  display: flex;
  width: 100%;
}
h1 {
  color: #FB0725;
}

h2 {
  color: #FB0725;
}

.login-left-section, .login-right-section {
 width: 50%;  
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.login-right-section{
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 20px 0 ;
  border:  none;
  border-bottom: solid 1px #000000;
}

button {
  color: #FFFFFF;
  background-color: #FB0725;
  border : none;
  padding: 13px 50px;
  font-weight: 600;
  text-decoration: none;
}